.gradle/
build/
*/build/

local.properties

.idea/
*.iml

.vscode/

*.jks
*.keystore

captures/
.externalNativeBuild/
.cxx/

.DS_Store

Thumbs.db

*.log

*.kotlin_module

com_crashlytics_export_strings.xml
firebase-debug.log
firebase-crashlytics.log

obj/

*.tmp
*.temp

signing.properties